
{% load static %}

<html>
    <head>
        
           

        <title>Tinkah's blog</title>
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Tinkah's blog</a></h1>
                   
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><img src="/static/img/plus.svg" alt="" width="52" height="52" title="Přidat příspěvek"></a>
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
         
        
        

    </body>
</html>