
{% load static %}

<html>
    <head>
        
           

        <title>Tinkah's blog</title>
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
            <p class="top-menu">Ahoj {{ user.username }} &nbsp;<small> (<a href="{% url 'logout' %}">Odhlásit</a>)</small></p>

            {% else %}
            <a href="{% url 'login' %}" class="top-menu"><img src="/static/img/lock.svg" alt="" width="52" height="52" title="Přihlásit"></a>

            {% endif %}
            
            <h1><a href="/">Tinkah's blog</a></h1>
                   
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% if user.is_authenticated %}
                    <div align="right" margin-top="20px">
                        <a href="{% url 'post_new' %}" ><img src="/static/img/plus.svg" alt="" width="52" height="52" title="Přidat příspěvek"></a>
                        <a href="{% url 'post_draft_list' %}"><img src="/static/img/document-text.svg" alt="" width="52" height="52" title="Koncepty"></a>
                    </div>
                    {% endif %}

                   
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
         
        
        

    </body>
</html>